.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10000;
    height: 60px;
    padding: 20px 0 60px 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
    width: 100%;
    margin: 0 auto;
}

.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}


/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */

.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 60px;
}

.cbp-af-header h1 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
    font-size: 3em;
    margin: 0;
    float: left;
}

.cbp-af-header nav {
    float: right;
}


/* Transitions and class for reduced height */

.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
    height: 40px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 40px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 25px;
    color: #333;
}